
.btn {
    padding: 10px 20px;
    background-color: rgb(60, 232, 17);
    border-radius: 4px;
    border: none;
    outline: none;
    opacity: 0.8;

    cursor: pointer;
    color: black;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}
